.bigTitle {
    font-weight: bold;
    font-size:xx-large;
    color:grayscale($color: #000000) ;
    line-height: 2;
    }
.container-fluid {
    background-color: ivory;
    border-block-color: black;
    font-weight: bold;
    }
