.createdAt {
    float:right;
    font-style: italic;
    font-size:large;
    font-weight: lighter;
    margin-right: 12px;
    }
.h2 {
    font-weight: bold;
    font-size:x-large;
    }
.content {
    font-size:large;
    color:indigo;
    text-align:justify;
    }
.nbLike {
    font-style: italic;
    color:green;
    margin-bottom: 10px;
    }
.nbUnLike {
    font-style: italic;
    color:red;
    margin-bottom: 10px;
    }
.btn-delete{
    margin-right: 12px;
    }